.container{
    width: 1000px;
    height: auto;
    margin: auto;
}
.row{
    background-color: cornflowerblue;
    display: flex;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    flex-direction: column-reverse;

}
.col{
    background-color: darkcyan;
    padding: 15px;
    color: white;
    margin: 5px;
    flex: 1 1 50px;
}